

/*colors*/

@mixin back-colour($colour:$colour-background){
    background-color: lighten($colour, 3%);
}

@mixin footer-background($colour:$colour-background){
    background-color: darken($colour, 72%);
}

@mixin colour-icon($color:$colour-icon) {
    color: lighten($color, 20%);
}

@mixin side-colour{
    background: $colour-side;
   
}



@mixin colour-btn(){
    background: linear-gradient($colour-secondary, $colour-primary);    
    border-style: none;
}


@mixin shadow-hover($colour:$colour-shadow){
    box-shadow: 5px 5px 5px 2px darken($colour, 20%);
}



/*text font*/

@mixin text-logo {
    font-family: 'Shrikhand', 'cursive';
    font-size: 0.8rem;
    font-weight: lighter;
}

@mixin text-regular {
    font-family: 'Roboto', 'sans-serif';
}

@mixin text-color($color:$colour-tertiary){
    color: darken($color, 40%);
}

/*button*/

@mixin btn {
    border-radius: 60px;
    height: 50px;
    width: 230px;
    color: white;
    font-size: 1rem; 
      
    font-family: 'Roboto', 'sans-serif';   
}

@mixin box-shadow {
    box-shadow: 2px 5px 5px $colour-shadow; 
}

/* restaurants page acceuil */

@mixin border-radius-page {
    border-radius: 15px;    
}

@mixin border-radius-image {
    border-radius: 15px 15px 0 0;
}

/* courses underline */

@mixin courses-underline {
    border-bottom: 3px solid $colour-tertiary;
    width: 10%;
    height: 5px;
    display: block;
    padding-top: 1%;
}

/* loader */

@mixin index-loader-animation {
    opacity: 0;
    animation: loader_page $loader_duration cubic-bezier(.17,.57,.24,.8);
}

@mixin course_animation{
    opacity: 0;
    animation-duration: 2s;
}

@mixin rotate_check {
    animation: check_rotate 5s;
}



