

/*colors*/

@mixin back-colour($colour:$colour-background){
    background-color: lighten($colour, 4%);
}

@mixin colour-icon($color:$colour-icon) {
    color: lighten($color, 20%);
}




@mixin colour-btn(){
    background: linear-gradient($color-secondary, $color-primary);    
    border-style: none;
}



@mixin shadow-hover($colour:$colour-shadow){
    box-shadow: 5px 5px 5px 2px darken($colour, 20%);
}



/*text font*/

@mixin text-logo {
    font-family: 'Shrikhand', 'cursive';
    font-size: 1.5rem;
}

@mixin text-regular {
    font-family: 'Roboto', 'sans-serif';
}

@mixin text-color($color:$colour-tertiary){
    color: darken($color, 40%);
}

/*button*/

@mixin btn {
    border-radius: 60px;
    height: 65px;
    width: 290px;
    color: white;
    font-size: 20px; 
    font-weight: 500;   
    font-family: 'Roboto', 'sans-serif';   
}

@mixin box-shadow {
    box-shadow: 2px 5px 5px $colour-shadow; 
}

/* restaurants page acceuil */

@mixin border-radius-page {
    border-radius: 30px;    
}

@mixin border-radius-image {
    border-radius: 15px 15px 0 0;
}



