@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/*colors*/

@mixin back-colour($colour:$colour-background){
    background-color: lighten($colour, 4%);
}

@mixin colour-icon($color:$colour-icon) {
    color: lighten($color, 20%);
}


@mixin colour-btn(){
    background: linear-gradient($color-secondary, $color-primary);    
    border-style: none;
}



@mixin shadow-hover($colour:$colour-shadow){
    box-shadow: 5px 5px 5px 2px darken($colour, 20%);
}



/*text font*/

@mixin text-logo {
    font-family: 'Shrikhand', 'cursive';
}

@mixin text-regular {
    font-family: 'Roboto', 'sans-serif';
}

/*button*/

@mixin btn {
    border-radius: 60px;
    height: 65px;
    width: 290px;
    color: white;
    font-size: 20px; 
    font-weight: 500;   
    font-family: 'Roboto', 'sans-serif';   
}

@mixin box-shadow {
    box-shadow: 2px 5px 5px $colour-shadow; 
}

