/* colors */

$colour-icon: #444747;
$colour-background: rgb(236, 233, 233);
$colour-shadow: rgba(206, 201, 201, 0.726);
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;





/* fonts */

 