/* colors */

$colour-icon: #444747;
$colour-background: rgb(238, 238, 238);
$colour-shadow: rgba(206, 201, 201, 0.726);
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-arrow: #363636;



$loader_duration: 950ms;




 