@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./composants/buttons";
@import "./layout/presentation";
@import "./layout/header";
@import "./layout/steps";
@import "./layout/welcome";
@import "./layout/restaurants.scss";
@import "./layout/footer";
@import "./layout/menupage";