.btn{
    @include btn;
    @include colour-btn;
    @include box-shadow;

        &:hover{
            background: linear-gradient(lighten($colour-primary, 5%), lighten($colour-secondary, 5%));
            @include shadow-hover;
            cursor: pointer;            
        }

    &__btn-explorer{
        margin-bottom: 3.4rem;
    }

    &__btn--commander{
        width: 190px;
        margin-top: 2.2rem;
        margin-bottom: 3.5rem;
        
    }
    
        
}

