.btn{
    @include btn;
    @include colour-btn;
    @include box-shadow;

        &:hover{
            background: linear-gradient(lighten($color-primary, 5%), lighten($color-secondary, 5%));
            @include shadow-hover;
            cursor: pointer;            
        }

    &__btn-explorer{
        margin-top: -3px;
    }
    
        
}

