/* colors */
/* fonts */
/*colors*/
/*text font*/
/*button*/
/* restaurants page acceuil */
/* coures underline */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  border-radius: 60px;
  height: 50px;
  width: 230px;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", "sans-serif";
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  box-shadow: 2px 5px 5px rgba(206, 201, 201, 0.726);
}
.btn:hover {
  background: linear-gradient(#a16be0, #ff93e1);
  box-shadow: 5px 5px 5px 2px rgba(157, 148, 148, 0.726);
  cursor: pointer;
}
.btn__btn-explorer {
  margin-bottom: 3.4rem;
}

.site_presentation {
  font-family: "Roboto", "sans-serif";
  background-color: #f6f6f6;
  text-align: center;
  height: 17.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.site_presentation h1 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  margin-top: 1.7em;
}
.site_presentation p {
  font-size: 1.2em;
  margin-top: -55px;
  font-weight: 100;
}

.header {
  text-align: center;
  margin-bottom: 0.3rem;
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
}

.header_restaurantpage {
  display: flex;
  align-items: center;
  margin-bottom: -1.2rem;
}
.header_restaurantpage__arrow {
  margin-left: 5%;
  font-size: 1.1rem;
  color: #363636;
  font-weight: bold;
}
.header_restaurantpage__title {
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.icon_location {
  color: #444747;
  background: rgb(238, 238, 238);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px 2px rgba(206, 201, 201, 0.726) inset;
}
.icon_location i {
  padding-right: 1.5rem;
  font-size: 1rem;
}
.icon_location h1 {
  font-family: "Roboto", "sans-serif";
  font-size: 1.1rem;
  font-weight: 500;
}

.steps {
  margin-top: 2.5em;
  margin-bottom: 5rem;
  font-family: "Roboto", "sans-serif";
}
.steps h1 {
  margin-left: 5%;
  font-size: 1.5rem;
}
.steps h3 {
  margin-right: auto;
  flex-basis: 60%;
}
.steps i {
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex-basis: 5%;
  color: #767b7b;
  font-size: 1.2em;
}
.steps__choice {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2em;
  height: 60px;
  border-radius: 25px;
  position: relative;
  background: rgb(238, 238, 238);
  box-shadow: 2px 5px 5px rgba(206, 201, 201, 0.726);
  background-color: #f6f6f6;
}
.steps__choice:hover {
  background-color: #efe6fa;
  color: #9356DC;
  cursor: pointer;
}
.steps__choice:hover > i {
  color: #9356DC;
}
.steps__choice:hover > h3 {
  color: black;
}

.steps__choice h3 {
  font-size: 1rem;
  font-weight: 500;
}

.number {
  position: absolute;
  background-color: #9356DC;
  height: 1.9em;
  width: 1.9em;
  border-radius: 60px;
  left: -0.6em;
  text-align: center;
}

.number p {
  justify-self: center;
  color: white;
  position: absolute;
  left: 0.7em;
  top: 0.4em;
}

@media screen and (min-width: 768px) {
  .steps {
    margin-bottom: 0;
    flex-basis: 50%;
    background-color: #f6f6f6;
    margin-top: 0;
    box-shadow: 1px 0px 0px 0px rgba(206, 201, 201, 0.726) inset;
    padding-top: 2.5rem;
  }
  .steps h1 {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .welcome {
    display: flex;
    height: 100%;
  }
  .site_presentation {
    flex-basis: 50%;
    height: 21rem;
  }
  .choice {
    width: 60%;
  }
}
.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.restaurants__titre {
  padding-top: 3rem;
  font-family: "Roboto", "sans-serif";
  font-size: 1.5rem;
  padding-left: 5%;
}
.restaurants__card {
  position: relative;
  max-width: 90%;
  max-height: 20%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 1rem;
}
.restaurants__card--photo {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__card--new {
  background-color: #99E2D0;
  color: #278870;
  font-family: "Roboto", "sans-serif";
  font-weight: bolder;
  border: none;
  font-size: 0.8rem;
  height: 1.6rem;
  width: 5rem;
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
  border-radius: 2px;
}
.restaurants__card--name {
  font-family: "Roboto", "sans-serif";
  color: black;
  padding-top: 0.7rem;
  padding-left: 0.6rem;
  padding-bottom: 0.3rem;
}
.restaurants__card--location {
  padding-top: 0.4rem;
  margin-bottom: 0.8rem;
}
.restaurants__card--heart {
  position: absolute;
  bottom: 12%;
  right: 6%;
  font-size: 1.7rem;
}

.restaurants a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(238, 238, 238);
  }
  .restaurants__titre {
    padding-left: 0;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .restaurants__card {
    width: 50%;
  }
}
.footer {
  background-color: #363636;
  font-family: "Roboto", "sans-serif";
  color: white;
  padding: 1.5rem 0 0.5rem 0rem;
}
.footer__h3 {
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  padding-left: 5%;
}
.footer__ul {
  padding-inline-start: 5%;
}
.footer__li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}
.footer i {
  padding-right: 2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.footer a {
  text-decoration: none;
  color: white;
}

.menu {
  background-color: #f6f6f6;
}
.menu__header {
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__header--name {
  z-index: 1;
  border-radius: 40px 40px 0 0;
  margin-top: -3rem;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  padding: 9% 0 0 5%;
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
  font-size: 1.6rem;
}
.menu__header--heart {
  position: absolute;
  font-size: 1.5rem;
  right: 12%;
  top: 49%;
  z-index: 1;
}

.restaurantpage_photo {
  width: 100%;
}

.photo {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}

.course {
  margin-top: 10%;
  margin-left: 5%;
}
.course__title {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  text-transform: uppercase;
}
.course__title--underline {
  border-bottom: 3px solid #99E2D0;
  width: 10%;
  height: 5px;
  display: block;
  padding-top: 1%;
}
.course__dish {
  box-shadow: 2px 5px 5px rgba(206, 201, 201, 0.726);
  border-radius: 15px;
  height: 60px;
  margin: 2% 5% 3% 0;
  background-color: white;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
