@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes loader_page {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 0.1;
    color: #9356DC;
    transform: scale(0.1);
  }
  20% {
    opacity: 0.2;
    color: #9356DC;
    transform: scale(0.2);
  }
  30% {
    opacity: 0.3;
    color: #9356DC;
    transform: scale(0.3);
  }
  40% {
    opacity: 0.4;
    color: #9356DC;
    transform: scale(0.4);
  }
  50% {
    opacity: 0.5;
    color: #9356DC;
    transform: scale(0.5);
  }
  60% {
    opacity: 0.6;
    color: #9356DC;
    transform: scale(0.6);
  }
  70% {
    opacity: 0.7;
    color: #9356DC;
    transform: scale(0.7);
  }
  80% {
    opacity: 0.8;
    color: #9356DC;
    transform: scale(0.8);
  }
  90% {
    opacity: 0.9;
    color: #9356DC;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes delay_page {
  0% {
    opacity: 0;
  }
  50%, 99% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader_dish {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes check_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hover_slide {
  from {
    visibility: visible;
    width: 0;
  }
  to {
    width: 60px;
    visibility: visible;
    overflow: hidden;
  }
}
@keyframes hover_slide_desktop {
  from {
    visibility: visible;
    width: 0;
  }
  to {
    width: 180px;
    visibility: visible;
    overflow: hidden;
  }
}
/*colors*/
/*text font*/
/*button*/
/* restaurants page acceuil */
/* courses underline */
/* loader */
* {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  border-radius: 60px;
  height: 50px;
  width: 230px;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", "sans-serif";
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  box-shadow: 2px 5px 5px rgba(206, 201, 201, 0.726);
}
.btn:hover {
  background: linear-gradient(#a16be0, #ff93e1);
  box-shadow: 5px 5px 5px 2px rgba(157, 148, 148, 0.726);
  cursor: pointer;
}
.btn__btn-explorer {
  margin-bottom: 3.4rem;
}
.btn__btn--commander {
  width: 190px;
  margin-top: 2.2rem;
  margin-bottom: 3.5rem;
}

.site_presentation {
  font-family: "Roboto", "sans-serif";
  background-color: #f6f6f6;
  text-align: center;
  height: 17.7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.site_presentation h2 {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  margin-top: 1.7em;
}
.site_presentation p {
  font-size: 1.2em;
  margin-top: -55px;
  font-weight: 100;
}

.header {
  text-align: center;
  margin-bottom: 0.3rem;
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
}

.header_restaurantpage {
  display: flex;
  align-items: center;
  margin-bottom: -1.2rem;
}
.header_restaurantpage__arrow {
  margin-left: 5%;
  font-size: 1.1rem;
  color: #363636;
  font-weight: bold;
}
.header_restaurantpage__title {
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.icon_location {
  color: #444747;
  background: rgb(238, 238, 238);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px 2px rgba(206, 201, 201, 0.726) inset;
}
.icon_location i {
  padding-right: 1.5rem;
  font-size: 1rem;
}
.icon_location h1 {
  font-family: "Roboto", "sans-serif";
  font-size: 1.1rem;
  font-weight: 500;
}

.steps {
  margin-top: 2.5em;
  margin-bottom: 5rem;
  font-family: "Roboto", "sans-serif";
}
.steps a {
  text-decoration: none;
  color: black;
}
.steps h2 {
  margin-left: 5%;
  font-size: 1.5rem;
}
.steps h3 {
  margin-right: auto;
  flex-basis: 60%;
}
.steps i {
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex-basis: 5%;
  color: #767b7b;
  font-size: 1.2em;
}
.steps__choice {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2em;
  height: 60px;
  border-radius: 25px;
  position: relative;
  background: rgb(238, 238, 238);
  box-shadow: 2px 5px 5px rgba(206, 201, 201, 0.726);
  background-color: #f6f6f6;
}
.steps__choice:hover {
  background-color: #efe6fa;
  color: #9356DC;
  cursor: pointer;
}
.steps__choice:hover > i {
  color: #9356DC;
}
.steps__choice:hover > h3 {
  color: black;
}

.steps__choice h3 {
  font-size: 1rem;
  font-weight: 500;
}

.number {
  position: absolute;
  background-color: #9356DC;
  height: 1.9em;
  width: 1.9em;
  border-radius: 60px;
  left: -0.6em;
  text-align: center;
}

.number p {
  justify-self: center;
  color: white;
  position: absolute;
  left: 0.7em;
  top: 0.4em;
}

@media screen and (min-width: 768px) {
  .steps {
    margin-bottom: 0;
    flex-basis: 50%;
    background-color: #f6f6f6;
    margin-top: 0;
    box-shadow: 1px 0px 0px 0px rgba(206, 201, 201, 0.726) inset;
    padding-top: 2.5rem;
  }
  .steps__choice {
    width: 70%;
  }
  .steps h2 {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .welcome {
    display: flex;
    height: 100%;
  }
  .site_presentation {
    flex-basis: 50%;
    height: 21rem;
  }
  .choice {
    width: 60%;
  }
}
.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}
.restaurants__titre {
  padding-top: 3rem;
  font-family: "Roboto", "sans-serif";
  font-size: 1.5rem;
  padding-left: 5%;
  padding-bottom: 1.2rem;
}
.restaurants__card {
  position: relative;
  max-width: 90%;
  max-height: 20%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 1rem;
}
.restaurants__card--photo {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__card--new {
  display: flex;
  background-color: #99E2D0;
  color: #278870;
  font-family: "Roboto", "sans-serif";
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border: none;
  font-size: 0.8rem;
  height: 1.6rem;
  width: 5rem;
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
  border-radius: 2px;
}
.restaurants__card--name {
  font-family: "Roboto", "sans-serif";
  color: black;
  padding-top: 0.7rem;
  padding-left: 0.6rem;
  padding-bottom: 0.3rem;
}
.restaurants__card--location {
  padding-top: 0.4rem;
  margin-bottom: 0.8rem;
}
.restaurants__card--heart {
  display: block;
  position: absolute;
  bottom: 12%;
  right: 6%;
  height: 1.7rem;
  width: 1.5rem;
}
.restaurants__card--heart:hover .fullheart {
  opacity: 1;
  transition: all 500ms;
  cursor: pointer;
}
.restaurants__card--heart:hover .emptyheart {
  color: white;
  transition-duration: 500ms;
}
.restaurants__card--heart i {
  position: absolute;
  font-size: 1.7rem;
  left: 1%;
}

.restaurants a {
  text-decoration: none;
}

.fullheart {
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  border-style: none;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    text-align: center;
    background: rgb(238, 238, 238);
    flex-wrap: wrap;
  }
  .restaurants__titre {
    padding-left: 0;
    font-size: 2rem;
    padding-bottom: 3rem;
    flex-basis: 100%;
  }
  .restaurants__card {
    width: 47%;
    transition: transform 1s;
  }
}
.footer {
  background-color: #363636;
  font-family: "Roboto", "sans-serif";
  color: white;
  padding: 1.5rem 0 0.5rem 0rem;
}
.footer__h3 {
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  padding-left: 5%;
}
.footer__ul {
  padding-inline-start: 5%;
}
.footer__li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}
.footer i {
  padding-right: 2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.footer a {
  text-decoration: none;
  color: white;
}

.menu {
  background-color: #f6f6f6;
}
.menu__header {
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__header--name {
  display: block;
  z-index: 1;
  border-radius: 40px 40px 0 0;
  margin-top: -3rem;
  position: relative;
  background-color: #f6f6f6;
  width: 100%;
  padding: 9% 0 0 5%;
  font-family: "Shrikhand", "cursive";
  font-size: 0.8rem;
  font-weight: lighter;
  font-size: 1.7rem;
}
.menu__header--heart {
  display: block;
  position: absolute;
  font-size: 1.5rem;
  right: 11%;
  top: 58%;
  z-index: 1;
}

.restaurantpage_photo {
  width: 100%;
}

.photo {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}

.course {
  margin-top: 10%;
  margin-left: 5%;
}
.course__title {
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  text-transform: uppercase;
}
.course__title--underline {
  border-bottom: 3px solid #99E2D0;
  width: 10%;
  height: 5px;
  display: block;
  padding-top: 1%;
  margin-bottom: 2%;
}
.course__dish {
  box-shadow: 2px 5px 5px rgba(206, 201, 201, 0.726);
  border-radius: 15px;
  font-family: "Roboto", "sans-serif";
  height: 40%;
  margin: 0% 4% 3% 0;
  background-color: white;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.course__dish:hover {
  cursor: pointer;
}
.course__dish:hover > .course__dish--animation {
  width: 60px;
  visibility: visible;
  animation: hover_slide 1s ease-out;
  overflow: hidden;
}
.course__dish:hover > .course__dish--animation .course__dish--check {
  animation: check_rotate 1000ms;
}
.course__dish--section {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}
.course__dish--name {
  padding: 4% 0 1% 3%;
  flex-basis: 100%;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.course__dish--description {
  padding-left: 3%;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 6%;
}
.course__dish--price {
  padding: 1% 1% 3% 1%;
  display: flex;
  align-items: flex-end;
}
.course__dish--animation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  font-size: 1.3rem;
  border-radius: 0 15px 15px 0;
  visibility: hidden;
}

.commander {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .body {
    height: 100vh;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    background-color: white;
  }
  .menu {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu__header--name {
    padding-top: 4%;
  }
  .course__dish:hover > .course__dish--animation {
    width: 180px;
    visibility: visible;
    animation: hover_slide_desktop 1500ms ease-out;
    overflow: hidden;
  }
  .course__dish:hover > .course__dish--animation .course__dish--check {
    animation: check_rotate 1000ms;
  }
  .commander {
    margin-top: 10%;
  }
}
.index--loader i {
  font-size: 12rem;
  position: fixed;
  z-index: -1;
  bottom: 50%;
  top: 50%;
  text-align: center;
  color: #FF79DA;
}

.index--loader {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.index--loader__smile {
  opacity: 0;
  animation: loader_page 950ms cubic-bezier(0.17, 0.57, 0.24, 0.8);
}
.index--loader__cheese {
  opacity: 0;
  animation: loader_page 950ms cubic-bezier(0.17, 0.57, 0.24, 0.8);
  animation-delay: 850ms;
}
.index--loader__champagne {
  opacity: 0;
  animation: loader_page 950ms cubic-bezier(0.17, 0.57, 0.24, 0.8);
  animation-delay: 1700ms;
}

main {
  animation: delay_page 2850ms;
}

.course__loader--one {
  animation: loader_dish 1500ms;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
}
.course__loader--two {
  animation: loader_dish 1500ms;
  animation-fill-mode: backwards;
  animation-delay: 0.8s;
}
.course__loader--three {
  animation: loader_dish 1500ms;
  animation-fill-mode: backwards;
  animation-delay: 1.2s;
}
.course__loader--four {
  animation: loader_dish 1500ms;
  animation-fill-mode: backwards;
  animation-delay: 1.6s;
}

@media screen and (min-width: 768px) {
  .index--loader {
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
