.header
{
   text-align: center;
   
   margin-bottom: 0.3rem;
   @include text-logo;

   

   
}

.header_restaurantpage{
   
   display: flex;
   align-items: center;
   margin-bottom: -1.2rem;
   
   
      &__arrow{
         margin-left: 5%;
         font-size: 1.1rem;
         color: $colour-arrow;
         font-weight: bold;                 
      }

      &__title{
         @include text-logo;
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         font-size: 2rem;        
      }

      
}

.icon_location
{
color: $colour-icon;
background: $colour-background;
height: 3rem;
display: flex;
justify-content: center;
align-items: center;


box-shadow: 0px 2px 5px 2px $colour-shadow inset;

   & i{      
      padding-right: 1.5rem;
      font-size: 1rem;
   }

   & h1{
      @include text-regular;
      font-size: 1.1rem;
      font-weight: 500;
      
   }

}




