.index--loader i{
font-size: 12rem;
position: absolute;
z-index: 1;
bottom: 50%;
top: 50%;
text-align: center;
color: $colour-secondary;
}

.index--loader{
    display: flex;    
           
    justify-content: center;
    align-items: center;

    &__smile{
        
        @include index-loader-animation;
    }

    &__cheese{
        
        @include index-loader-animation;
        animation-delay: 850ms;
    }

    &__champagne{
        
        @include index-loader-animation;
        animation-delay: 1700ms;
    }
}

main{
    animation: delay_page 2850ms;
    
}

@media screen and (min-width: 768px) {
    .index--loader{
        justify-content: center;
        align-items: center;
    }
}

.course__loader{
    

    &--one{
        animation: loader_one 2500ms;
        transform-origin: 50% 0%;
        transform: scaleY(1);
        transition: transform 2800ms;
        
    }
    

    &--two{
        animation: loader_one 2600ms;
        transform-origin: 50% 0%;
        transform: scaleY(1);
        transition: transform 2900ms;
    }

    &--three{
        animation: loader_one 2700ms;
        transform-origin: 50% 0%;
        transform: scaleY(1);
        transition: transform 3s;
    }
}