.index--loader i{
    font-size: 12rem;
    position: fixed;
    z-index: -1;
    bottom: 50%;
    top: 50%;
    text-align: center;
    color: $colour-secondary;
}

.index--loader{
    display: flex;    
    margin: 0;      
    justify-content: center;
    align-items: center;

        &__smile{
        
            @include index-loader-animation;
        }

        &__cheese{
        
            @include index-loader-animation;
            animation-delay: 850ms;
        }

        &__champagne{
        
            @include index-loader-animation;
            animation-delay: 1700ms;
        }
}

main{
    animation: delay_page 2850ms;
    
}

.course__loader{
    

    &--one{
        animation: loader_dish 1500ms;
        animation-fill-mode: backwards;
        animation-delay: 0.4s;
        
    }
    

    &--two{
        animation: loader_dish 1500ms;
        animation-fill-mode: backwards;
        animation-delay: 0.8s;
        
    }

    &--three{
        animation: loader_dish 1500ms;
        animation-fill-mode: backwards;
        animation-delay: 1.2s;
        
    }

    &--four{
        animation: loader_dish 1500ms;
        animation-fill-mode: backwards;
        animation-delay: 1.6s;
    }
}


@media screen and (min-width: 768px) {
    
    .index--loader{
        justify-content: center;
        align-items: center;
    }
}