.menu{

    @include back-colour;   

    &__header{

        border-radius: 40px 40px 0 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        &--name{

            display: block;
            z-index: 1;    
            border-radius: 40px 40px 0 0;
            margin-top: -3rem;
            position: relative;
            @include back-colour;
            width: 100%;
            padding: 9% 0 0 5%;
            @include text-logo;
            font-size: 1.7rem;
             }  

        &--heart{

            display: block;
            position: absolute;            
            font-size: 1.5rem;
            right: 11%;
            top: 58%;
            z-index: 1;
            
        }
    
    }

}

.restaurantpage_photo{        
        
    width: 100%;

}

.photo{

    height: 17rem;
    width: 100%;
    object-fit: cover;

 }

 .course{

   margin-top: 10%;
   margin-left: 5%;
   

    &__title{

   @include text-regular;
   font-size: 1rem;
   text-transform: uppercase;

        &--underline{

            @include courses-underline;
            margin-bottom: 2%
            
        }
   
    }

    &__dish{

        @include box-shadow;
        @include border-radius-page;
        @include text-regular;
        height: 40%;
        margin: 0% 4% 3% 0;
        background-color: white;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
       
        
        

        &:hover > &--animation{
            width: 4rem;
            visibility: visible;
            animation: hover_slide 1s ease-out;

                        .course__dish--check{
                            animation: check_rotate 1000ms;
                         } 
                  }   

        &--section{

            display: flex;
            flex-direction: column;            
            flex-basis: 80%;
        }
       
        &--name{

            padding: 4% 0 1% 3%;
            flex-basis: 100%;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &--description{

            padding-left: 3%;            
            text-overflow: ellipsis;
            width: 80%; 
            white-space: nowrap;
            overflow: hidden;  
            padding-bottom: 6%;  

        }

        &--price{   

            padding: 1% 1% 3% 1%;           
            display: flex;
            align-items: flex-end;

        }

        &--animation{
            
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $colour-tertiary;
            color: white;
            font-size: 1.3rem;
            border-radius: 0 15px 15px 0;
            visibility: hidden; 
        }
    }
}

.commander{    
    text-align: center;
}

@media all and (min-width: 768px){

    .menupages__body{
        
        
        @include side-colour;

    }

    .header{

        background-color: white;

    }

    .restaurants__card--heart{

        bottom: 1%;

    }    

    .allcourses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 70%;
        margin-bottom: 10rem;
    }
}
