.menu{

    @include back-colour;
    position: relative;

    &__restaurantpage--photo{
        
        position: absolute;
        width: 100%;
    }

    &__name{
    z-index: 1;
    border: 1px black solid;
    border-radius: 25px 25px 0 0;
    margin-top: -3rem;
    position: absolute;
    @include back-colour;
    width: 100%;
    padding: 5% 0 0 5%;
}

}

.photo{
    height: 14rem;
    width: 100%;
    object-fit: cover;
    
 
 
 }