.menu{

    @include back-colour;   

    &__header{

        border-radius: 40px 40px 0 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        &--name{
            display: block;
            z-index: 1;    
            border-radius: 40px 40px 0 0;
            margin-top: -3rem;
            position: relative;
            @include back-colour;
            width: 100%;
            padding: 9% 0 0 5%;
            @include text-logo;
            font-size: 1.7rem;
             }  

        &--heart{
            display: block;
            position: absolute;            
            font-size: 1.5rem;
            right: 11%;
            top: 58%;
            z-index: 1;
            
        }
    
    }

}

.restaurantpage_photo{
        
        
    width: 100%;
}

.photo{
    height: 17rem;
    width: 100%;
    object-fit: cover;
 }

 .course{
   margin-top: 10%;
   margin-left: 5%;
   

    &__title{
   @include text-regular;
   font-size: 1rem;
   text-transform: uppercase;

        &--underline{
            @include courses-underline;
            
            
        }
   
    }

    &__dish{
        @include box-shadow;
        @include border-radius-page;
        @include text-regular;
        height: 40%;
        margin: 2% 5% 3% 0;
        background-color: white;
        position: relative;

        &--animation{
            position: absolute;
            right: 0;
            height: 100%;
            display: block;
            background-color: $colour-tertiary;
            width: 10px;
            
        }
        
        

        &--name{
            padding: 4% 0 2% 3%;
            flex-basis: 100%;
            font-weight: 600;
        }

        &--description{
            padding-left: 3%;
            font-size: 0.9rem;
            text-overflow: ellipsis;
            width: 80%; 
            white-space: nowrap;
            overflow: hidden;  
            padding-bottom: 3%;       
        }

        &--price{
            position: absolute;
            right: 5%;
            bottom: 18%;
        }
    }


}

.commander{
    
    text-align: center;
}