.menu{

    @include back-colour;
   
    

    

    &__header{

        border-radius: 40px 40px 0 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &--name{
            z-index: 1;    
            border-radius: 40px 40px 0 0;
            margin-top: -3rem;
           
            @include back-colour;
            width: 100%;
            padding: 5% 8% 0 5%;
            @include text-logo;
            font-size: 1.8rem;
             }  

        &--heart{
            z-index: 1;
            height: 50px;
            width: 50px;
            font-size: 2rem;
            color: red;
            
        }
    
    }

}

.restaurantpage_photo{
        
        
    width: 100%;
}

.photo{
    height: 17rem;
    width: 100%;
    object-fit: cover;
 }

 .course{
   margin-top: 5%;
 }