.menu{

    @include back-colour;   

    &__header{

        border-radius: 40px 40px 0 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
        &--name{
            display: block;
            z-index: 1;    
            border-radius: 40px 40px 0 0;
            margin-top: -3rem;
            position: relative;
            @include back-colour;
            width: 100%;
            padding: 9% 0 0 5%;
            @include text-logo;
            font-size: 1.7rem;
             }  

        &--heart{
            display: block;
            position: absolute;            
            font-size: 1.5rem;
            right: 11%;
            top: 58%;
            z-index: 1;
            
        }
    
    }

}

.restaurantpage_photo{
        
        
    width: 100%;
}

.photo{
    height: 17rem;
    width: 100%;
    object-fit: cover;
 }

 .course{
   margin-top: 10%;
   margin-left: 5%;
   

    &__title{
   @include text-regular;
   font-size: 1rem;
   text-transform: uppercase;

        &--underline{
            @include courses-underline;
            
            
        }
   
    }

    &__dish{
        @include box-shadow;
        @include border-radius-page;
        @include text-regular;
        height: 50%;
        margin: 2% 5% 3% 0;
        background-color: white;
        position: relative;
        display: flex;
        justify-content: space-between;
        
        

        &:hover > .course__dish--animation{
            width: 4rem;
            visibility: visible;
            animation: hover_slide 1s ease-out;
        }    

        &:hover > .course__dish--check{
               animation: check_rotate 2s;
        }           

        

        

        

        
        
        &--section{
            display: flex;
            flex-direction: column;
            transition: margin-right 1s;
            flex-basis: 80%;

        }
       
        &--name{
            padding: 4% 0 2% 3%;
            flex-basis: 100%;
            font-weight: 600;
        }

        &--description{
            padding-left: 3%;
            font-size: 0.9rem;
            text-overflow: ellipsis;
            width: 80%; 
            white-space: nowrap;
            overflow: hidden;  
            padding-bottom: 3%;       
        }

        &--price{
            
            padding-bottom: 3%;
           
            display: flex;
            align-items: flex-end;
        }

        &--animation{
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $colour-tertiary;
            color: white;
            font-size: 1.3rem;
            border-radius: 0 15px 15px 0;
            visibility: hidden;

        }

        &--check{
            transition: transform 2s ease-in-out;
        }

        
    }
}

.commander{    
    text-align: center;
}

@media all and (min-width: 768px){
    .menupages__body{
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        @include side-colour;
    }

    .header{
        background-color: white;
    }

    .restaurants__card--heart{
        bottom: 1%;
    }

    
}
