.site_presentation {
    @include text-regular;
    @include back-colour;
    text-align: center;
    height: 17.7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & h2{
        
        margin-bottom: 3rem;
        font-size: 1.5rem;
        margin-top: 1.7em;
    }

    & p{
        font-size: 1.2em;
        margin-top: -55px;
        
        font-weight: 100;
    }
}



