.site_presentation {
    @include text-regular;
    @include back-colour;
    text-align: center;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & h1{
        
        margin-bottom: -0.5em;
        word-spacing: 0.2em;
        margin-top: -2em;
    }

    & p{
        font-size: 1.3em;
        margin-top: -55px;
        margin-bottom: -50px;
        font-weight: 100;
    }
}



