.steps{
    margin-top: 2.5em;  
    margin-bottom: 5rem; 
    @include text-regular;

         & h1{

             
             margin-left: 5%;
             font-size: 1.5rem;
            }   
 
         & h3{
     
             margin-right: auto;
             flex-basis: 60%;
            }
 
         & i{

             margin-left: auto;
             margin-right: auto;
             display: block;
             flex-basis: 5%;
             @include colour-icon;
             font-size: 1.2em;
            }
         
 
 
         &__choice{

            display: flex;
            align-items: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1.2em;
            height: 60px;
            border-radius: 25px;
            position: relative;
            background: $colour-background;
            @include box-shadow;
            @include back-colour;  
         
    

 
            &:hover{
                 background-color: adjust-color($color: $colour-primary, $hue: 0, $saturation: 0%, $lightness: 34%, $alpha: 1.0);
                 color: $colour-primary;
                 cursor: pointer;
                 }
 
             &:hover > i{
                color: $colour-primary;
                }
 
             &:hover > h3{
                color: black;
                }

                   

         }        
    
 }

 .steps__choice h3{
    font-size: 1rem;
    font-weight: 500;
 }
 
 .number{
     position: absolute;
     background-color: $colour-primary;
     height: 1.9em;
     width: 1.9em;
     border-radius: 60px;
     left: -0.6em;
     text-align: center;    
 }
 
 .number p {
     justify-self: center;
     color: white;
     position: absolute;
     left: 0.7em;
     top: 0.4em;
 }

 @media screen and (min-width: 768px) {
    .steps{  
        margin-bottom: 0;        
        flex-basis: 50%;
        @include back-colour;
        margin-top: 0;
        box-shadow: 1px 0px 0px 0px $colour-shadow inset;  
        padding-top: 2.5rem;    
         }

    .steps h1 {
            text-align: center;
            margin-left: 0;
        }
 }