@media screen and (min-width: 768px){
    .welcome {
        display: flex;       
        height: 100%;       
    }

    .site_presentation {
        flex-basis: 50%;
        height: 21rem;
    }
    
    

    .choice {
        width: 60%;
    }
}