@media screen and (min-width: 768px){
    .welcome {
        display: flex;        
    }

    .site_presentation {
        flex-basis: 50%;
    }
    
    .steps {
        flex-basis: 50%;
        @include back-colour;
        margin-top: 0;
        box-shadow: 1px 0px 0px 0px $colour-shadow inset;
        
    }

    .steps h1 {
        text-align: center;
        margin-left: 0;
    }

    .choice {
        width: 60%;
    }
}