.restaurants {
    @include back-colour;
    max-height: 50%;
    

        &__page {
            position: relative;
            max-width: 90%;
            max-height: 20%;            
            @include border-radius-page;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            margin-bottom: 1rem;


            &--photo{
                width: 100%;
                height: 180px;
                object-fit: cover;
                @include border-radius-image;
                
            }

            &--new{
                background-color: $colour-tertiary;
                @include text-color;
                @include text-regular;
                font-weight: bolder;
                border: none;
                font-size: 0.8rem;
                height: 1.6rem;
                width: 5rem;
                position: absolute;
                z-index: 1;
                top: 5%;
                right: 5%;
                border-radius: 2px;

            }

            &--name{
                @include text-regular;
                color: black;
                display: flex;
                flex-direction: column;
                padding-top: 0.5rem;
                padding-left: 0.6rem;

            }

            &--location{
                padding-top: 0.4rem;
                margin-bottom: 1rem;
            }

            &--heart{
                position: absolute;
                bottom: 6%;
                right: 6%;
                font-size: 1.7rem;
                
            }
        }
    }

.restaurants a{
    text-decoration: none;
}